hr {
  width: 410px;
}
small {
  font-size: 10px;
}
ul {
  list-style: none;
  padding: 0px;
}
img {
  font-size: 30px;
  position: relative;
  bottom: 20px;
  right: 10px;
}
.appContainer {
  max-width: 500px;
  margin: 50px auto;
  border: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #aedefc;
  padding: 15px 20px 15px 40px;
}
.form-control {
  background-color: #aedefc;
  color: black;
  width: 200px;
  border: none;
  height: 40px;
  margin-left: -9px;
}

.currentDegree {
  position: relative;
  right: 10px;
}
.sunRain {
  color: #3c90d4;
  font-size: 30px;
}
.rainHeavy {
  color: rgb(17, 68, 110);
  font-size: 30px;
}

.col-2 {
  font-size: 12px;
}

.rain,
.wind {
  position: relative;
  right: 10px;
}
.fa-sun {
  position: relative;
  bottom: 20px;
  font-size: 40 px;
}
.extraInfo {
  font-size: 12px;
}

#cel,
#fah,
#divider {
  font-size: 10px;
  position: relative;
  bottom: 27px;
}
#searchTheCity {
  width: 93px;
  position: relative;
  left: 22px;
}
#currentCity {
  background-color: #aedefc;
  color: black;
  width: 93px;
  height: 40px;
  border: none;
}
#displayTheCity {
  font-size: 33px;
  font-weight: bold;
}
#dayTime,
#weatherDescription,
#wind,
#humidity {
  font-size: 12px;
}
#cityWind,
#cityHumidity,
#cityWindUnit,
#cityHumidityUnit {
  font-size: 12px;
  color: blue;
}
#temprature {
  font-size: 40px;
  font-weight: bold;
}

#srcCodeLink {
  width: 260px;
}
